.imgicon{
	float: left;
}
li{
	float: left;
	padding : 8px 16px 8px 16px;
	list-style: none;
}
nav{
    background: #222222 ;
	padding : 8px 16px 8px 16px;
	text-align: center;
    font-family: "Open Sans", sans-serif;
}

.a3{
	color: white;
}
.a1{
color: #0dcaf0;

}
.a2{

	color: #FC48E1;
}
.men{
	background: #222222 ;
}
